<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/" method="post">
  <label for="name">name:</label><br>
  <input type="text" id="name" name="name" value="John"><br>
  <input type="submit" value="Submit">
</form> 
<br><a href="./views/John.jpg "><button>Download</button></a>
<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>
